.wrapper {
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 20px;
}
.chartCard{
  background-color: #fff;
  border-radius: 10px;
  padding: 20px;
  border: 1px solid #e5e7eb;
}
.chartCard h3 {
  margin: 0 0 20px 0;
  font-size: 18px;
}
/* RESPONSIVE */

@media (max-width: 1200px) {
  .grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 768px) {
  .grid {
    grid-template-columns: repeat(1, 1fr);
  }
}
