.layout {
  display: flex;
  height: 100vh;
}

/* Sidebar width */
.layout > :first-child {
  width: 240px;
  flex-shrink: 0;
}

/* Right side */
.main {
  flex: 1;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

/* ONLY CONTENT SCROLLS */
.content {
  flex: 1;
  overflow-y: auto;
  padding: 20px;
  background: #f7f9fb;
}
