.sidebar {
  width: 240px;
  height: 100vh;
  background: #ffffff;
  border-right: 1px solid #eee;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* LOGO */

.logoBox {
  display: flex;
  gap: 12px;
  align-items: center;
  border-bottom: 1px solid #eee;
  padding: 25px;
  height: 75px;
}

.logo {
  background: #1b4332;
  color: white;
  width: 40px;
  height: 40px;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 20px;
}

.logoBox h3 {
  font-size: 20px;
  margin: 0;
}

.logoBox span {
  font-size: 13px;
  color: #6b7280;
}

/* MENU */

.menu {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 20px 25px;
}

.link {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 15px;
  border-radius: 8px;
  color: #374151;
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
}

.link:hover {
  background: #b7e4c7;
  color: #1b4332;
}

.link.active {
  background: #1b4332;
  color: #fff;
}

.groupHeader {
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 15px;
  color: #374151;
  font-size: 16px;
  font-weight: 500;
}

.subMenu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
  position: relative;
  margin-left: 20px;
  border-left: 3px solid #b7e4c76f;
  padding-left: 5px;
}

.subLink {
  position: relative;
  display: block;
  padding: 10px;
  text-decoration: none;
  font-size: 14px;
  font-weight: 500;
  color: #475569;
  border-radius: 8px;
  width: 100%;
}

.subLink:hover {
  background: #b7e4c7;
  color: #1b4332;
}

.subLink.active {
  background: #1b4332;
  color: #fff;
}


/* LOGOUT */

.logout {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 15px;
  color: #d90429;
  cursor: pointer;
  margin: 25px;
  font-size: 18px;
}

.logout:hover {
  color: #ef233c;
  background-color: #ef233c1a;
  border-radius: 8px;
}
