.wrapper {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.tableBox {
  background: white;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.04);
}

table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  padding: 16px;
  border-bottom: 1px solid #e5e7eb;
  text-align: left;
  font-size: 14px;
}

th {
  color: #64748b;
  font-weight: 500;
  background-color: #f8fafc;
}

tr:hover {
  background-color: #f9fafb;
}

.active {
  color: #16a34a;
  font-weight: 500;
}

.inactive {
  color: #dc2626;
  font-weight: 500;
}
.pagination {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 16px;
}

.pagination button {
  padding: 8px 14px;
  border-radius: 6px;
  border: 1px solid #e5e7eb;
  background: white;
  cursor: pointer;
  transition: 0.2s ease;
}

.pagination button:hover:not(:disabled) {
  background-color: #f1f5f9;
}

.pagination button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
.headerRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.addBtn {
  background: #16a34a; /* clean green */
  color: white;
  border: none;
  padding: 14px 26px;
  border-radius: 14px; /* soft rounded like screenshot */
  font-size: 15px;
  font-weight: 500;
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
  transition: all 0.2s ease;
}

.addBtn:hover {
  background: #15803d;
}

.plusIcon {
  font-size: 18px;
}
