.wrapper {
  padding: 20px;
  border-radius: 10px;
  background-color: white;
}

/* SEARCH */

.topBar {
  margin-bottom: 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.searchBox {
  display: flex;
  align-items: center;
  gap: 8px;
  width: 260px;
  border: 1px solid #e5e7eb;
  padding: 10px 12px;
  border-radius: 10px;
  background-color: white;
}
.addButton {
  display: flex;
  align-items: center;
  gap: 8px;
  padding: 10px 16px;
  background: #16a34a;
  color: white;
  border: none;
  border-radius: 10px;
  font-size: 14px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.addButton:hover {
  background: #15803d;
}

.searchBox input {
  border: none;
  outline: none;
  width: 100%;
  background-color: white;
}

/* TABLE */

.tableBox {
  overflow-x: auto;
  background-color: white;
  border-radius: 12px;
  border: 1px solid #e5e7eb;
}

.tableBox table {
  width: 100%;
  border-collapse: collapse;
}

.tableBox thead {
  background: #f9fafb;
}

.tableBox th,
.tableBox td {
  padding: 18px 14px;
  text-align: left;
  border-bottom: 1px solid #e5e7eb;
}

.tableBox th {
  color: #6b7280;
  font-weight: 500;
}
.tableBox tr:last-child td {
  border: none;
}

.active {
  background: #dcfce7;
  color: #16a34a;
  padding: 4px 10px;
  border-radius: 20px;
  font-size: 12px;
}

.inactive {
  background: #fee2e2;
  color: #dc2626;
  padding: 4px 10px;
  border-radius: 20px;
  font-size: 12px;
}
.pagination {
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
  gap: 12px;
  align-items: center;
}

.paginationbuttons{
  display: flex;
  gap: 15px;
}
.pagination button {
  width: auto;
  padding: 6px 14px;
  border: 1px solid #e5e7eb;
  background: white;
  color: #16a34a;
  border-radius: 6px;
  cursor: pointer;
}

.pagination button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}
