.backdrop {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.4);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modal {
  background: white;
  width: 350px;
  padding: 25px;
  border-radius: 24px;
}

.modal h3 {
  margin-bottom: 10px;
  font-size: 22px;
}

.modal p {
  color: #6b7280;
  margin-bottom: 20px;
  font-size: 16px;
}

.actions {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

.cancel {
  flex: 1;
  background: #cbcdd1;
  color: #fff;
  border: none;
  padding: 12px;
  border-radius: 999px;
  cursor: pointer;
  transition: background 0.2s ease;
}

.confirm {
  flex: 1;
  width: 100px;
  background: #8d0801;
  color: white;
  border: none;
  padding: 12px;
  border-radius: 999px;
  cursor: pointer;
  transition: background 0.2s ease;
}
.actions button:hover {
  background: #1b4332;
}