.card {
  background: #ffffff;
  border-radius: 14px;
  padding: 22px;
  box-shadow: 0 0 0 1px #e5e7eb;
}

.top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.top p {
  color: #6b7280;
  font-size: 14px;
}

.iconBox {
  background: #ecfdf5;
  color: #16a34a;
  padding: 10px;
  border-radius: 10px;
  font-size: 18px;
}

.card h2 {
  margin: 12px 0;
  font-size: 28px;
}

.positive {
  color: #16a34a;
  font-size: 14px;
}

.negative {
  color: #ef4444;
  font-size: 14px;
}
